extends ../layout
 
block content
  h1 Log in to your account
  form(action='/users/login', method='post')
    input(type='email', name='email', placeholder='Email')
    input(type='password', name='password', placeholder='Password')
    input(type='submit')
