extends ../layout
 
block content
  h1 Create a new user
  form(action='/users/create', method='post')
    input(type='text', name='name', placeholder='Name')
    input(type='email', name='email', placeholder='Email')
    input(type='password', name='password', placeholder='Password')
    input(type='submit')
